
$dark-blue: #00396f;
$light-grey: #F2F2F2;
$light-blue: #4d87c7;

//
//  BASIC STYLES
//–––––––––––––––––––––––––––––––––––––

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  // font-family: 'Crete Round', sans-serif;
  // font-family: 'Volkhov', sans-serif;
  height: 100%;
  width: 100%;
}

.flexRow {
  display: flex;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.delay350 {
  -webkit-animation-delay: 0.35s !important;
  -moz-animation-delay: 0.35s !important;
  -o-animation-delay: 0.35s !important;
  animation-delay: 0.35s !important;
}

//
//  RADIAL component
//–––––––––––––––––––––––––––––––––––––
.radial-component {
  transition: top .5s 0s cubic-bezier(.1, 1.2, .3, 1), transform .5s 0s cubic-bezier(.1, 1.2, .3, 1), width .5s .5s cubic-bezier(.1, 1.2, .3, 1), opacity .3s;
}

//
//  RADIAL container
//–––––––––––––––––––––––––––––––––––––
.radial-container {
  position: absolute;
  /*transform: translate(-50%  -50%);*/
  /*border: 1px solid black;*/
  padding: 0;
  width: 50%;
  height: 55%;
  left: 50%;
  margin-left: -25%;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

//
//  RADIAL slice
//–––––––––––––––––––––––––––––––––––––
.radial-slice {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 5%;
  margin: 2% 1%;
}

$deg: 0;
$degInv: 0;

@mixin transition {
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      transform: rotate(#{$deg}deg) skewY(150deg);
      -ms-transform: rotate(#{$deg}deg) skewY(150deg);
      -webkit-transform: rotate(#{$deg}deg) skewY(150deg);
      -moz-transform: rotate(#{$deg}deg) skewY(150deg);
      -o-transform: rotate(#{$deg}deg) skewY(150deg);

      .text-wrapper {
        -ms-transform: skewY(-150deg) rotate(#{$degInv}deg);
        -webkit-transform: skewY(-150deg) rotate(#{$degInv}deg);
        -moz-transform: skewY(-150deg) rotate(#{$degInv}deg);
        -o-transform: skewY(-150deg) rotate(#{$degInv}deg);
        transform: skewY(-150deg) rotate(#{$degInv}deg);
      }
    }

    $deg: $deg + 60;
    $degInv: $deg * -1;
  }
}

li {
  @include transition;
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  background-color: $light-grey;
  border: solid;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease;
  color: $dark-blue;

  .radial-splice {
    position: absolute;
    border-bottom: 1px solid $light-blue;
    border-top: 1px solid $light-blue;
    font-size: 12px;
    text-transform: uppercase;

    span {
      color: $dark-blue;
    }
  }

  &:hover, .background {
    background-color: $dark-blue;
    border: 0;
    color: #fff;

    &:after {
      background: $dark-blue;
      -webkit-transform: translateY(-3%);
      -moz-transform: translateY(-3%);
      -o-transform: translateY(-3%);
      -ms-transform: translateY(-3%);
      transform: translateY(-3%);
    }
  }
}

@media (max-width: 1295px) {
  .radial-container #content {
    width: 60%;
    height: 50%;
    margin-left: -30%;

    .radial-slice {
      width: 20%;
      height: 20%;
      bottom: 5%;
      margin: 2% 1%;
    }
  }
}

.background {
  position: absolute;
  width: 0;
  height: 0;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease;
  -moz-transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease;
}

.li:hover .background {
  width: 145%;
  height: 145%;
  z-index: 1000;
}

.background1 {
  background: $dark-blue;
}

//
//  status container
//–––––––––––––––––––––––––––––––––––––
.status-container {
  color: black;
  position: absolute;
  cursor: pointer;
  text-align: center;
  width: 95%;
  user-select: none;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

//
//  maximizer
//–––––––––––––––––––––––––––––––––––––
.radial-slice-title {
  color: $dark-blue;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}

.minimizeRadial {
  .radial-container {
    position: initial;
    border-radius: 0;
  }

  .radial-slice {
    flex-basis: auto;
    position: absolute;
    bottom: 5%;
    top: 5%;
    background: white;
    width: unset;
    display: table;
  }

  li {
    transform: unset;
    -ms-transform: none;
    -webkit-transform: unset;
    -moz-transform: unset;
    -o-transform: unset;
    overflow: unset;
    top: 20%;
    right: 0;
    height: unset;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease;

    .radial-slice {
      padding: 0;
      margin: 0;
      list-style: none;
      align-items: flex-start;
      justify-content: space-around;
      padding: 2% 0;


      .text-wrapper {
        display: table-row;
        float: left;
        margin-left: 5%;
        max-width: calc(45% - 5px);
        transform: unset;
        -ms-transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -o-transform: unset;
        -ms-flex: 50%;
        flex: 50%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox !important;
        display: -webkit-flex;
        display: flex !important;
        flex-direction: column;
      }

      span {
        color: $dark-blue;
      }

      img {
        margin-right: 5%;
        display: table-row;
        float: right;
        flex: 50%;
        -ms-flex: 50%;
        margin-right: .4em;
        font-size: 3em;
        max-width: calc(45% - 5px);

        &:hover {
          box-shadow: 0 25px 50px rgba(0, 0, 0, 0.05);
          transform: translateY(-1%);
          -ms-transform: translateY(-1%);
          -webkit-transform: translateY(-1%);
          -moz-transform: translateY(-1%);
          -o-transform: translateY(-1%);
        }
      }
    }
  }

  @media (max-width: 1295px) {
    .radial-container #content {
      margin-left: 0;
    }
  }

  @media (max-width: 795px) {
    .minimizeRadial {
      li {
        .radial-slice {
          flex-direction: column;
          -webkit-flex-direction: column;

          span {
            color: #fff;
          }

          .text-wrapper {
            margin-right: .8em;
            /*background-color: red;*/
            font-size: larger;
            flex: 100%;
            -ms-flex: 100%;
            max-width: calc(100% - 5px);
          }

          img {
            margin-left: 2%;
            /*background-color: red;*/
            font-size: larger;
            flex: 100%;
            -ms-flex: 100%;
            max-width: 95vw;
          }
        }
      }
    }
  }
}
