/* You can add global styles to this file, and also import other style files */
$button-color: #aea433;
$primary-color: #33302b;
$background-color: #F5F4F4;
$font-color: #333;
$font-color-heading: #333;
$secondary-color: #AFAFAF;
$divider-color: #A1A1A1;
$popover-color: #403d34;
$border-color: black;
$dark-blue: #00396f;
$medium-blue: #1856a4;
$light-blue: #4d87c7;
$light-grey: #F2F2F2;
$dark-grey: #D8D8D8;
